<div class="mb-2 p-2">
  <div class="bg-blue-600 text-white">You are player <%= @player_id %> playing against <%= @opponent_id %></div>
</div>

<div class="text-center">
  <%= if has_moved?(assigns[:turns], @player_id) && has_not_moved?(assigns[:turns], @opponent_id) do %>
    Waiting for opponent to pick their move...
  <% else %>
    <div>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-6xl" phx-click="move" phx-value-move="rock" title="rock">
        🪨
      </button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-6xl" phx-click="move" phx-value-move="paper" title="paper">
        📃
      </button>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-6xl" phx-click="move" phx-value-move="scissor" title="scissor">
        ✂️
      </button>
    </div>
  <% end %>

  <%= if has_not_moved?(assigns[:turns], @player_id) && has_moved?(assigns[:turns], @opponent_id) do %>
    Opponent has picked their move.
  <% end %>
</div>

<%= if assigns[:turns] do %>
  <h1 class="text-center mb-4 text-xl font-bold">
    <%= humanize_standing(@turns, @player_id, @opponent_id) %>
  </h1>

  <ol>
    <%= for {turn_number, %{moves: moves} = turn} <- @turns do  %>
      <li>
        Turn <%= turn_number %>:
        <%= for {player_id, pick} <- moves do %>
          <%= humanize_player(player_id, @player_id) %> picked

          <%= if turn[:winner] == nil && player_id != @player_id do %>
            ???
          <% else %>
            <%= pick %>
          <% end %>
        <% end %>

        <%= if turn[:winner] do %>
          <%= humanize_result(turn.winner, @player_id, @opponent_id) %>
        <% end %>
      </li>
    <% end %>
  </ol>
<% end %>
