<div class="text-center">
  <h1 class="m-10 text-xl font-bold">
    <%= humanize_standing(assigns[:turns], @player_id, @opponent_id) %>
  </h1>

  <%= if assigns[:turns] && @turns[map_size(@turns)].result == :done && map_size(@players) > 1 do %>
    <section id="previous-result" phx-hook="DelayedHide" class="space-y-16">
      <%= render_section "_opponent_section.html" do %>
        <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded text-6xl" disabled>
          <%= picked(assigns[:turns], @opponent_id) %>
        </button>
      <% end %>

      <%= render_section "_middle_section.html" do %>
        <h1 class="text-5xl font-bold align-middle inline-block"><%= humanize_result(@turns[map_size(@turns)].winner, @player_id, @opponent_id) %></h1>
      <% end %>

      <%= render_section "_you_section.html" do %>
        <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded text-6xl" disabled>
          <%= picked(assigns[:turns], @player_id) %>
        </button>
      <% end %>
    </section>
  <% end %>

  <section id="current-game" class="space-y-16">
    <%= render_section "_opponent_section.html" do %>
      <div>
        <%= if online?(@players, @opponent_id) do %>
          <%= if has_not_moved?(assigns[:turns], @player_id) && has_moved?(assigns[:turns], @opponent_id) do %>
            Opponent has picked their move.
          <% else %>
            Opponent is picking...
          <% end %>
        <% else %>
            Opponent is offline!
        <% end %>
      </div>
    <% end %>

    <%= render_section "_middle_section.html", do: nil %>

    <%= render_section "_you_section.html" do %>
      <%= if has_moved?(assigns[:turns], @player_id) && has_not_moved?(assigns[:turns], @opponent_id) do %>
        <div>
          <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded text-6xl" disabled>
            <%= picked(assigns[:turns], @player_id) %>
          </button>
        </div>
      <% else %>
        <div>
          <%= render "_move_button.html", value: :rock, emoji: "🪨" %>
          <%= render "_move_button.html", value: :paper, emoji: "📃" %>
          <%= render "_move_button.html", value: :scissor, emoji: "✂️" %>
        </div>
      <% end %>
    <% end %>
  </section>

  <%= if has_not_moved?(assigns[:turns], @player_id) do %>
    <h1 class="m-6 text-2xl font-bold">
      <.live_component module={RpsWeb.TimerComponent} id="timer" time={assigns[:time]} />
    </h1>
  <% end %>
</div>
